# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges. **I DID CHALLENGE 2**
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [ ]:
# import libraries here

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [ ]:
# your code here

#### Print `temp`.

In [ ]:
# your code here

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### Select the rows where state is New York.

In [ ]:
# your code here

#### What is the average temperature of cities in New York?

In [ ]:
# your code here

#### Which states and cities have a temperature above 15 degrees Celsius?

In [ ]:
# your code here

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [ ]:
# your code here

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [ ]:
# your code here

#### Find the mean and standard deviation of the temperature of each state.

In [ ]:
# your code here

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

# Load the dataset from Sequel Pro.

In [ ]:
# Libraries
import pandas as pd
from sqlalchemy import create_engine
import pymysql

driver = 'mysql+pymysql'
ip = '34.65.10.136'
username = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
db = 'employees'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(connection_string)
query = 'SELECT * FROM employees'

In [ ]:
employees = pd.read_sql(query, engine)
employees

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here

print(f'''
Salary attributes in k€/year:
{employees.Salary.describe()}

Kind of employees: {employees.Title.unique()}

Level of Education: {employees.Education.unique()}

    ''')

#### What's the average salary in this company?

In [ ]:
print(f'''
Salary attributes in k€/year:
{employees.Salary.describe()}
''')

Reviewing the cell above, the mean (average) salary is 48.88 k€ /year

#### What's the highest salary?

In [ ]:
print(f'''
Salary attributes in k€/year:
{employees.Salary.describe()}
''')

The maximum salary is 70.00 k€/year

#### What's the lowest salary?

The minimum salary is 30.00 k€/year

#### Who are the employees with the lowest salary?

In [ ]:
employees.loc[employees[['Salary']].idxmin()]

#### Find all the information about an employee called David.

In [ ]:
employees.loc[employees.Name == 'David']

#### Could you return only David's salary?

In [ ]:
employees.Salary.loc[employees.Name == 'David'].reset_index(drop = True)

#### Print all the rows where job title is associate.

In [ ]:
employees.loc[employees.Title == 'associate']

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
employees.head(3)

In [ ]:
# Method 2
employees.iloc[0:3,:]

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
employees.loc[(employees.Title == 'associate') & (employees.Salary == 55)]

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
employees.groupby('Years').mean()

####  What is the average salary per title?

In [ ]:
employees.groupby('Title').mean()[['Salary']]

####  Find the salary quartiles.

In [ ]:
employees.Salary.describe()

the percentile 25 = 35 

the percentile 50 = 55

the percentile 75 = 60

#### Is the mean salary different per gender?

In [ ]:
employees.groupby('Gender').mean()[['Salary']]

Yes, there are different salary for gender

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
employees.describe()

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
dpmnt_emp = employees.groupby('Department').agg(['sum','max','min'])['Salary']
dpmnt_emp.reset_index()

In [ ]:
la = lambda x: x['max'] - x['min']


dpmnt_emp.apply(la, axis=1)

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here